{% extends "layout.html" %}

{% block content %}
<select class="ui dropdown">
  <option value="2">Название</option>
  <option value="1">Количество</option>
  <option value="0">Растояние(км)</option>
</select>
<select class="ui dropdown">
  <option value="3">Равно</option>
  <option value="2">Содержит</option>
  <option value="1">Больше</option>
  <option value="0">Меньше</option>
</select>
<div class="ui input">
    <input type="text" placeholder="Введите значение">
</div>
<button class="ui primary button">
  Фильтр
</button>
<table class="ui celled table">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Название</th>
            <th>Количество</th>
            <th>Растояние(км)</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
      <tr>
        <td>{{ product.date }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.distance }}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}